:root {
  --border-radius: 10px;
}

body {
  font-family: "Rubik", sans-serif !important;
  font-weight: 100 !important;
}

#main {
  max-width: 960px;
  background-color: white;
  margin: 1em auto;
}

#navbar {
  background-color: #007bff !important;
}
#navcon {
  max-width: 960px !important;
}

.btnSearch {
  background-color: #03045e !important;
  color: white !important;
  border: none !important;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2) !important;
  transition: all 0.3s ease;
}

.btnSearch:hover {
  background-color: #02307a !important;

  transform: scale(1.01) !important;
  box-shadow: 0 0 10px #0077b6 !important;
  transition: box-shadow 0.05s ease-in-out !important;
  cursor: pointer !important;
}

.btnSearch:active {
  background-color: #00296b !important;
  color: white !important;
  transition: background-color 0.15s ease-in-out !important;
}

.formSearch {
  border: none !important;
  color: #03045e;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2) !important;
}

#main,
.btnSearch,
.formSearch {
  border-radius: var(--border-radius) !important;
}

.btnSearch,
.formSearch,
.custom-btn,
.nav-link {
  transition: all 0.3s ease;
}

.formSearch::placeholder {
  color: #03045e !important;
}

.formSearch:focus {
  outline: none !important;
  box-shadow: 0 0 10px #0077b6 !important;
}

.gradient {
  will-change: background-position;
  height: 100vh;
  background: linear-gradient(
    60deg,
    #caf0f8,
    #64b5f6,
    #bbdefb,
    #9cbfde,
    #a2d2ff,
    #ffffff
  );
  background-size: 200%;
  animation: bgAnimatedGradient 15s infinite linear;
}

@keyframes bgAnimatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-link {
  color: white !important;
}

#navbar .navbar-brand img {
  max-height: 1.6em; /* Adjust logo size */
}

.navbar-brand {
  color: white !important;
  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
}
.container {
  max-width: 960px !important;
}

@media (max-width: 768px) {
  .formSearch,
  .btnSearch {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  #btnList .custom-btn {
    padding: 6px 12px;
    font-size: 18px;
    opacity: 70%;
  }
  .weather-header {
    flex-direction: column; /* Stack the header elements */
    align-items: center;
    text-align: center;
  }
}
footer a:hover {
  text-decoration: underline;
}

#btnList {
  max-width: 960px !important;
  background-color: transparent;
  border-bottom: 2px solid #b1b1ba;
}

.custom-btn {
  border: none;
  background-color: transparent;
  color: black;
  opacity: 55%;
  font-size: 18px;
  margin-bottom: -1.5px;
  padding: 8px 16px;
  border-bottom: 2px solid transparent;
}
.custom-btn:hover {
  opacity: 100%;
}
.custom-btn:focus {
  border-color: #fb5607;
  opacity: 100%;
}

.weather-header {
  display: flex;
  justify-content: flex-start;
  background-color: #03045e;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
